<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
    <!-- FONTAWESOME : https://kit.fontawesome.com/a23e6feb03.js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.  5/jquery.mCustomScrollbar.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <script src="../static/js/icons.js"></script>
    <title>Home</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light blue fixed-top">
        <button id="sidebarCollapse" class="btn navbar-btn">
            <i class="fas fa-angle-double-down"></i>
        </button>
        <a class="navbar-brand" href="#">
            <h3 id="logo">SCRIT 2.0</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="form-inline position-relative d-inline-block my-2">
                <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar">
                <button class="btn position-absolute btn-search" type="submit"><i class="icon ion-md-search"></i></button>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="assets/img/user-1.png" class="img-fluid rounded-circle avatar mr-2" alt="#" /> Diego Velázquez
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Mi perfil</a>
                        <a class="dropdown-item" href="#">Suscripciones</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Cerrar sesión</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="link" href="#">
                        <i class="fas fa-id-card"></i>Contact Us</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" id="link" href="#">
                        <i class="fas fa-sign-out-alt"></i> LogOut
                        <span class="sr-only">(current) </span></a>
                </li>
            </ul>
        </div>
    </nav>





    <div class="wrapper fixed-left">
        <nav id="sidebar">
            <br>
            <div class="sidebar-header">
                <h5><i class="fas fa-users-cog"></i>Admin</h5>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href=""><i class="fas fa-home"></i>Home</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-search"></i>Buscar</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-filter"></i>Consultar</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-users"></i>Areas</a>
                </li>
                <li>
                    <a href=""><i class="fas fa-sticky-note"></i></i>Planes de Usuario</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content -->
        <div id="content" class="bg-grey w-100">

            <section class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                            <h1 class="font-weight-bold mb-0">Bienvenido Diego</h1>
                            <p class="lead text-muted">Revisa la última información</p>
                        </div>
                        <div class="col-lg-3 col-md-4 d-flex">
                            <button class="btn btn-primary w-100 align-self-center">Descargar reporte</button>
                        </div>
                    </div>
                </div>
            </section>

            <section class="bg-mix py-3">
                <div class="container">
                    <div class="card rounded-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 d-flex stat my-3">
                                    <div class="mx-auto">
                                        <h6 class="text-muted">Equipo De Cómputo</h6>
                                        <center>
                                            <h3 class="font-weight-bold">18547</h3>
                                        </center>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 d-flex stat my-3">
                                    <div class="mx-auto">
                                        <h6 class="text-muted">Equipo en uso</h6>
                                        <center>
                                            <h3 class="font-weight-bold">9543</h3>
                                        </center>
                                        <h6 class="text-success"><i class="fas fa-spinner"></i> 72.50%</h6>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 d-flex stat my-3">
                                    <div class="mx-auto">
                                        <h6 class="text-muted">No. de usuarios</h6>
                                        <center>
                                            <h3 class="font-weight-bold">2500</h3>
                                        </center>
                                        <h6 class="text-success"><i class="fas fa-spinner"></i> 75.50%</h6>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 d-flex my-3">
                                    <div class="mx-auto">
                                        <h6 class="text-muted">Usuarios nuevos</h6>
                                        <center>
                                            <h3 class="font-weight-bold">500</h3>
                                        </center>
                                        <h6 class="text-success"><i class="fas fa-spinner"></i> 15.50%</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 my-3">
                            <div class="card rounded-0">
                                <div class="card-header bg-light">
                                    <h6 class="font-weight-bold mb-0">Número de usuarios de paga</h6>
                                </div>
                                <div class="card-body">
                                    <canvas id="myChart" width="300" height="150"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 my-3">
                            <div class="card rounded-0">
                                <div class="card-header bg-light">
                                    <h6 class="font-weight-bold mb-0">Busquedas Recientes</h6>
                                </div>
                                <div class="card-body pt-2">
                                    <div class="d-flex border-bottom py-2">
                                        <div class="d-flex mr-3">
                                            <h2 class="align-self-center mb-0"><i class="far fa-eye"></i></h2>
                                        </div>
                                        <div class="align-self-center">
                                            <h6 class="d-inline-block mb-0">Equipo de Computo</h6><span class="badge badge-success ml-2">José Pérez</span>
                                            <small class="d-block text-muted">Atención al Público</small>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom py-2">
                                        <div class="d-flex mr-3">
                                            <h2 class="align-self-center mb-0"><i class="far fa-eye"></i></h2>
                                        </div>
                                        <div class="align-self-center">
                                            <h6 class="d-inline-block mb-0">Telefono</h6><span class="badge badge-success ml-2">Norma Madero</span>
                                            <small class="d-block text-muted">Dirección General</small>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom py-2">
                                        <div class="d-flex mr-3">
                                            <h2 class="align-self-center mb-0"><i class="far fa-eye"></i></h2>
                                        </div>
                                        <div class="align-self-center">
                                            <h6 class="d-inline-block mb-0">Impresora</h6><span class="badge badge-success ml-2">Karen Paz</span>
                                            <small class="d-block text-muted">Tecnologías de la información</small>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom py-2">
                                        <div class="d-flex mr-3">
                                            <h2 class="align-self-center mb-0"><i class="far fa-eye"></i></h2>
                                        </div>
                                        <div class="align-self-center">
                                            <h6 class="d-inline-block mb-0">Historial</h6><span class="badge badge-success ml-2">Edgar Arroyo</span>
                                            <small class="d-block text-muted">Terapia Ocupacional</small>
                                        </div>
                                    </div>
                                    <div class="d-flex border-bottom py-2 mb-3">
                                        <div class="d-flex mr-3">
                                            <h2 class="align-self-center mb-0"><i class="far fa-eye"></i></h2>
                                        </div>
                                        <div class="align-self-center">
                                            <h6 class="d-inline-block mb-0">Puesto</h6><span class="badge badge-success ml-2">Juanito Play</span>
                                            <small class="d-block text-muted">Trabajo Social</small>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary w-100">Ver todas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../static/js/script.js"></script>

</body>

</html>